<div class="container">
    <h1 class="font-color">Masaje Capilar</h1>
    <hr>
    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let galeria of galeriasMasajeCapilar; let i = index ">
            <img [src]="galeria.img" class="card-img-top img-manicure" [alt]="galeria.nombre">
            <div class="card-body">
                <h2 class="card-title font-color">{{galeria.nombre}}</h2>
                <p class="card-text font-color">{{galeria.descripcion}}</p>
                <button (click)="verMasajeCapilar(i)" type="button" [routerLink]="['/reservas']" class="btn  btn-block btn-color">¡ Lo Quiero.. !</button>
            </div>
        </div>




    </div>


</div>
