<div class="align-content-lg-center">

    <nav class="navbar navbar-expand-lg navbar-light bg-color">
        <a class="navbar-brand" href="#">

            <img src="/assets/img/iconos/logo.jpg" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item  mr-sm-5" routerLinkActive="active">
                    <a class="nav-link   text-white " [routerLink]="['home']">Alejandras </a>
                </li>
                <li class="nav-item mr-sm-2 " routerLinkActive="active">
                    <a class="nav-link  text-white" [routerLink]="['nosotros']">Nosotros</a>
                </li>
                <li class="nav-item dropdown mr-sm-2 hover-li" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle font-weight-light text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios Profesionales
        </a>
                    <div class="dropdown-menu menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item font-color" [routerLink]="['pestanias']">
                            <span class="imagen"><img src="assets/img/navbar/pestania.jpg" ></span>
                            <span class="text-item">Pestañas</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['cejas']">
                            <span class="imagen"><img src="assets/img/navbar/cejas.JPG" ></span>
                            <span class="text-item">Cejas</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['pestanias']">
                            <span class="imagen"><img src="assets/img/navbar/micropigmentacion.JPG" ></span>
                            <span class="text-item">Micropigmentación</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['depilacion']">
                            <span class="imagen"><img src="assets/img/navbar/depilacion.jpg" ></span>
                            <span class="text-item">Depilación Cera Tradicional</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['manicure-pedicure']">
                            <span class="imagen"><img src="assets/img/navbar/manicurePedicure.jpg" ></span>
                            <span class="text-item">Manicure/Pedicure</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['browbar']">
                            <span class="imagen"><img src="assets/img/navbar/alisado.jpg" ></span>
                            <span class="text-item">Alisado</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['coloracion']">
                            <span class="imagen"><img src="assets/img/navbar/coloracion.jpg" ></span>
                            <span class="text-item">Color</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['coloracion']">
                            <span class="imagen"><img src="assets/img/navbar/botox.jpg" ></span>
                            <span class="text-item">Botox</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['coloracion']">
                            <span class="imagen"><img src="assets/img/navbar/lavado.jpg" ></span>
                            <span class="text-item">Lavado</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['coloracion']">
                            <span class="imagen"><img src="assets/img/navbar/brushing.jpg" ></span>
                            <span class="text-item">Brushing</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['tratamiento-capilar']">
                            <span class="imagen"><img src="assets/img/navbar/masaje-capilar.jpg" ></span>
                            <span class="text-item">Masaje Capilar</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['peinados']">
                            <span class="imagen"><img src="assets/img/navbar/peinado.jpg" ></span>
                            <span class="text-item">Peinado</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['coloracion']">
                            <span class="imagen"><img src="assets/img/navbar/maquillaje.png" ></span>
                            <span class="text-item">Maquillaje</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['corte-cabello']">
                            <span class="imagen"><img src="assets/img/navbar/corteCabello.jpg" ></span>
                            <span class="text-item">Cortes de Cabello</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['pestanias']">
                            <span class="imagen"><img src="assets/img/navbar/pestania.jpg" ></span>
                            <span class="text-item">Tratamiento Facial</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['pestanias']">
                            <span class="imagen"><img src="assets/img/navbar/pestania.jpg" ></span>
                            <span class="text-item">Tratamiento Corporal</span>
                            <span class="down-item"></span>
                        </a>
                    </div>
                </li>


                <li class="nav-item " routerLinkActive="active ">
                    <a class="nav-link mr-sm-2  text-white" [routerLink]="['contacto']">Contacto</a>
                </li>

            </ul>
            <ul class="navbar-nav mr-5">
                <li class="nav-item active mr-sm-5 hoverli">
                    <button (click)="verMensaje(reservaHora)" type="button" class="btn btn-outline-light ">Reserva Hora</button>
                </li>

            </ul>


        </div>
    </nav>
</div>


<ng-template #mensajeLLamado let-modal="dismiss ">
    <div class="text-sm-center p-center ">
        <img class="img-w " src="assets/img/iconos/comprobado.png "><br><br><br>
        <span class="modal-dialog font-color ">Un Profesional de <b> SALÓN ALEJANDRAS</b> se pondrá en <br>contacto contigo dentro de poco</span><br><br><br>
        <button [routerLink]="[ '/home'] " class="btn btn-color " (click)="modal( 'Close') ">Salir</button>
    </div>
</ng-template>
<ng-template #reservaHora let-modal="dismiss" let-c="close">
    <div class="modal-header">
        <button type="button" class="close" (click)="c('')">x</button>
    </div>
    <div class="text-sm-center p-center ">

        <div class="container">
            <img src="assets/img/iconos/logo.jpg" width="50">
            <h1 _ngcontent-xic-c5="" class="font-color">Reserva tu Hora</h1>
            <hr>
            <div class="col-sm-12">
                <div class="starter-template">
                    <form #forma="ngForm" novalidate="">
                        <div class="form-group row ">
                            <div class="col-md-12 mb-3 ">
                                <label class="font-color" for="validationTooltip01">Nombre</label>
                                <input #nombre="ngModel" minlength="3" pattern="^[A-Za-z\s]+$" required name="nombre" ngModel type="text" class="form-control " placeholder="Ingrese su Nombre y Apellidos">
                                <div mat-error *ngIf="nombre.errors?.required">
                                    <label class="font-color">* requerido</label>
                                </div>
                                <div *ngIf="nombre.errors?.minlength">
                                    <label class="font-color">Ingrese mínimo {{nombre.errors.minlength.requiredLength}} caracteres</label>

                                </div>
                                <div *ngIf="nombre.errors?.pattern">
                                    <label class="font-color">Ingrese solo letras</label>

                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="font-color">Número de teléfono</label>
                                <input #telefono="ngModel" minlength="9" maxlength="9" pattern="^\d*$" required name="telefono" ngModel type="text" class="form-control " placeholder="Ingrese Teléfono">
                                <div *ngIf="telefono.errors?.required">
                                    <label class="font-color">* requerido</label>
                                </div>
                                <div *ngIf="telefono.errors?.minlength">
                                    <label class="font-color">* Ingrese teléfono válido</label>
                                </div>

                                <div *ngIf="telefono.errors?.pattern">
                                    <label class="font-color">Ingrese solo números</label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-color">Servicios Profesionales</label>
                            <select class="form-control" [formControl]="servicioFormControl">
                                  <option value="">Seleccionar</option>
                                  <option value="PESTAÑAS">Pestañas</option>
                                <option value="DEPILACIÓN">Depilación</option>
                                  <option value="MANICURE Y PEDICURE">Manicure y Pedicure</option>
                                <option value="BROW BAR">Brow Bar</option>
                                  <option value="COLORACIÓN">Coloración</option>
                                  <option value="TRATAMIENTOS CAPILARES">Tratamientos Capilares</option>
                                  <option value="PEINADOS">Peinados</option>
                                  <option value="CORTE DE CABELLO">Corte de Cabello</option>
                                </select>
                            <div>
                                <div class="font-color" *ngIf="servicioFormControl.hasError('required')">Por favor, Selecciona un servicio</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button (click)="modal( 'Close') " (click)="verMensaje(mensajeLLamado)" type="button" [disabled]="!forma.valid || servicioFormControl.invalid || loading" class="btn btn-color" color="primary" (click)="register(forma)">Reservar</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
</ng-template>