<div class="align-content-lg-center">

    <nav class="navbar navbar-expand-lg navbar-light bg-color">
        <a class="navbar-brand" href="#">

            <img src="/assets/img/iconos/logo.jpg" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item  mr-sm-5" routerLinkActive="active">
                    <a class="nav-link   text-white " [routerLink]="['home']">Alejandras </a>
                </li>
                <li class="nav-item mr-sm-2 " routerLinkActive="active">
                    <a class="nav-link  text-white" [routerLink]="['nosotros']">Nosotros</a>
                </li>
                <li class="nav-item dropdown mr-sm-2 hover-li" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle font-weight-light text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
                    <div class="dropdown-menu menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item font-color" [routerLink]="['pestanias']">
                            <span class="imagen"><img src="assets/img/navbar/pestania.jpg" ></span>
                            <span class="text-item">Pestañas</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['depilacion']">
                            <span class="imagen"><img src="assets/img/navbar/depilacion.jpg" ></span>
                            <span class="text-item">Depilación</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['manicure-pedicure']">
                            <span class="imagen"><img src="assets/img/navbar/manicurePedicure.jpg" ></span>
                            <span class="text-item">Manicure y Pedicure</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['browbar']">
                            <span class="imagen"><img src="assets/img/navbar/browbar.jpg" ></span>
                            <span class="text-item">Brow Bar</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['coloracion']">
                            <span class="imagen"><img src="assets/img/navbar/coloracion.jpg" ></span>
                            <span class="text-item">Coloración</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['tratamiento-capilar']">
                            <span class="imagen"><img src="assets/img/navbar/tratamientoCapilar.jpg" ></span>
                            <span class="text-item">Tratamientos Capilares</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['peinados']">
                            <span class="imagen"><img src="assets/img/navbar/peinados.jpg" ></span>
                            <span class="text-item">Peinados</span>
                            <span class="down-item"></span>
                        </a>
                        <a class="dropdown-item font-color" [routerLink]="['corte-cabello']">
                            <span class="imagen"><img src="assets/img/navbar/corteCabello.jpg" ></span>
                            <span class="text-item">Cortes de Cabello</span>
                            <span class="down-item"></span>
                        </a>
                    </div>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link mr-sm-2  text-white" [routerLink]="['equipo']">Nuestro Equipo</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link mr-sm-2  text-white" [routerLink]="['galeria']">Galería</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link mr-sm-2  text-white" [routerLink]="['promociones']">Promociones</a>
                </li>
                <li class="nav-item " routerLinkActive="active ">
                    <a class="nav-link mr-sm-2  text-white" [routerLink]="['contacto']">Contacto</a>
                </li>

            </ul>
            <ul class="navbar-nav mr-5">
                <li class="nav-item active mr-sm-5 hoverli">
                    <button type="button" class="btn btn-outline-light " [routerLink]="['reservas']">Reserva Hora</button>
                </li>

            </ul>


        </div>
    </nav>
</div>