<div class="jumbotron jumbotron-fluid bgcolor">
    <div class="container">
        <h1 class="display-5 font-color">SALÓN ALEJANDRA'S</h1>
        <p class="lead font-color">Somos un grupo de profesionales convencidos que el arte de la peluqueria te permite, crear y proponer estilos que te hagan sentir mejor. <br>Nuestro salon parte en 1998 con el deseo de entregar a nuestra clientela la experiencia de vivir una transformacion
            en su apariencia, interpretando su deseo e incorporando nuestros conocimientos para lograr el objetivo planteado.<br> Contamos con un gran equipo encabezado por su dueña, con más de 30 años de experiencia la cual a sido transmitida a cada
            una de sus trabajadoras,con el deseo de crear la gran familia Salon Alejandra's.</p>
        <div>
            <img style="width: 100%" src="assets/img/nosotros/equipo.jpg">
        </div>
    </div>
</div>