<div class="container">
    <h1 class="font-color"><small>Depilación&nbsp;</small>Profesionales</h1>
    <hr>
    <div class="card-columns">

        <div class="card animated fadeIn fast" *ngFor="let galeria of galerias; let i = index ">
            <img [src]="galeria.img" class="card-img-top img-manicure" [alt]="galeria.nombre">
            <div class="card-body">
                <h5 class="card-title font-color">{{galeria.nombre}}</h5>
                <p class="card-text font-color">{{galeria.descripcion}}</p>
                <button (click)="verHeroe(i)" type="button" [routerLink]="['/reservas']" class="btn  btn-block btn-color">¡ Lo Quiero.. !</button>
            </div>
        </div>



    </div>
</div>