<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <div class="row padding-icono">
            <div class="col-4">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/logo-alejandras.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> Alejandra's
                </a>
            </div>
        </div>
        <div class="">
            <ul class="nav">

                <li class="topbar-item widht-facebook">
                    <a href="https://web.facebook.com/palumbochile/" class="header-topbar__link  header-topbar__link--social" title="Síguenos en Facebook" target="_blank"><i class="fa fa-facebook-square widht-facebook"></i></a>
                </li>
                <li class="topbar-item ">
                    <a href="https://www.twitter.com/palumbochile" class="header-topbar__link  header-topbar__link--social" title="Síguenos en Twitter" target="_blank"><i class="fa fa-twitter-square widht-twitt"></i></a>
                </li>
                <li class="topbar-item">
                    <a href="https://www.instagram.com/palumbo_chile/" class="header-topbar__link  header-topbar__link--social" title="Síguenos en Instagram" target="_blank"><i class="fa fa-instagram "></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <app-sidebar></app-sidebar>


</header>
<!-- ============================================================== -->
<!-- End Topbar header -->