<footer class="footer bg-color ">

    <div class="container-footer-all">

        <div class="container-body">

            <div class="column1">
                <h1>ALEJANDRAS</h1>
                <img src="assets/img/logo.jpg" width="80" height="80">
            </div>
            <div class="column2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="assets/img/facebook.ico">
                    <label>Síguemos en Facebook</label>
                </div>
                <div class="row">
                    <img src="assets/img/instagram.ico">
                    <label>Síguemos en Instagram</label>
                </div>
            </div>
            <div class="column3">
                <h1>Servicio al Cliente</h1>
                <div class="row2">
                    <img src="assets/img/smartphone.ico">
                    <label>+56 9 41215615</label>
                </div>
                <div class="row2">
                    <img src="assets/img/casa.ico">
                    <label>Alameda 456 Santiago de Chile</label>
                </div>
                <div class="row2">
                    <img src="assets/img/email.ico">
                    <label>virpeza91@gmail.com</label>
                </div>

            </div>

        </div>


    </div>
    <div class="container-footer">
        <div class="footerr">
            <div class="copyright">
                Todos los Derechos reservados &copy;<a href="http://www.tisystems.cl" target="_blank">TISystems.cl</a>
            </div>

        </div>
    </div>

</footer>