<footer class="footer bg-color ">

    <div class="container-footer-all">

        <div class="container-body">

            <div class="column1 col-sm-3 ">
                <h1>Salon Alejandra's</h1>
                <div class="row">
                    <label>¡Ven a vivir nuevas experiencias!</label>
                    <label>¡Nuestros profesionales te esperan!</label>
                </div>
            </div>
            <div class="column1 col-sm-3 ">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="assets/img/iconos/facebook.ico">
                    <label>Síguemos en Facebook</label>
                </div>
                <div class="row">
                    <img src="assets/img/iconos/instagram.ico">
                    <label>Síguemos en Instagram</label>
                </div>

            </div>
            <div class="column2 col-sm-3 ">
                <h1>ALEJANDRAS.CL</h1>
                <img src="assets/img//iconos/logo.jpg" width="180" height="180">
            </div>

            <div class="column3 col-sm-6 ">
                <h1>Servicio al Cliente</h1>
                <div class="row2">
                    <img src="assets/img//iconos/smartphone.ico">
                    <label>(2) 26715772</label>
                </div>
                <div class="row2">
                    <img src="assets/img//iconos/casa.ico">
                    <label>Avenida Libertador Bernardo O'Higgins 1146 Santiago de Chile</label>
                </div>
                <div class="row2">
                    <img src="assets/img/iconos/email.ico">
                    <label>alejandrsalon@gmail.com</label>
                </div>
                <div class="row2">
                    <img src="assets/img/iconos/horario.ico">
                    <label>Lunes a Viernes 07:30 a 20:00 hrs</label>
                </div>

            </div>

        </div>


    </div>
    <div class="container-footer">
        <div class="footerr">
            <div class="copyright">
                Todos los Derechos reservados &copy;<a href="http://www.tisystems.cl" target="_blank">TISystems.cl</a>
            </div>

        </div>
    </div>

</footer>
