.row img {
    width: 20px;
    height: 20px;
}

.bg-color {
    background-color: #2d1540;
}

.column1 {
    max-width: 400px;
    width: 13%;
}

.column1 h1 {
    font-size: 16px;
}

.column1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;
}

.column2 h1 {
    font-size: 16px;
}

.row {
    margin-top: 5px;
    display: flex;
}

.column2 .row {
    margin-top: 20px;
    display: flex;
}

.row label {
    margin-top: 0px;
    margin-left: 20px;
    color: #C7C7C7;
    font-size: 12px;
}

.column3 {
    max-width: 400px;
}

.column3 h1 {
    font-size: 16px;
}

.row2 {
    margin-top: 5px;
    display: flex;
}

.row2 img {
    width: 30px;
    height: 30px;
}

.row2 label {
    margin-left: 20px;
    color: #C7C7C7;
    display: flex;
    max-width: 250px;
    margin-top: 10px;
    font-size: 12px;
}