* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.top-ico {
    padding-top: 6px;
    padding-right: 6px;
}

.margin-ico {
    padding-right: 26px;
}

.margin-icof {
    padding-right: 6px;
}

footer {
    color: white;
    width: 100%;
    background: #701A7F;
}

.background {
    background-color: darkslateblue;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between
}

.container-footer {
    background: #701A7F;
    ;
    width: 100%;
    padding: 20px
}

.copyright {
    color: white;
    text-decoration: none;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.information a {
    text-decoration: none;
    color: white
}

.footerr {
    text-align: center;
    font-size: 10px;
}

.footerr .copyright a {
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width:1100px) {
    .container-body {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:715px) {
    .column2,
    .column3 {
        margin-top: 40px;
    }
}

.main-container {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*Animaciones*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
