<div class="top-ico    bg-color">

    <ul class="nav justify-content-end   mr-sm-0 ">
        <li class="nav-item font-weight-light  ">
            <a class="nav-link active text-white" href="#">LOGIN</a>
        </li>
        <li>
            <a class="margin-icof" href="https://www.facebook.com/SalonAlejandras/" target="_blank"><img src="assets/img/facebook.ico" width="30" height="30"></a>

        </li>

        <li class="margin-ico">
            <a class="" href="https://www.instagram.com/alejandras_salon_/" target="_blank"><img src="assets/img/instagram.ico" width="30" height="30"></a>
        </li>
    </ul>
</div>