<div class="container">

    <div class=" form-group row">
        <div class="col-md-4 ">
            <img style="height: 60% !important;" [src]="depilacion.img" [alt]="depilacion.nombre" class="img-fluid zoom">
            <br><br>
            <button [routerLink]="['/depilacion']" class="btn  btn-block btn-color">Regresar a Depilación</button>

        </div>
        <div class="col-md-8">
            <h3 class="font-color">Depilación de {{depilacion.nombre}}</h3>
            <hr class="bg-color">
            <p class="font-color">{{depilacion.descripcion}}</p>
            <hr class="bg-color">

            <form #forma="ngForm" novalidate="">
                <div class="form-group row ">
                    <div class="col-md-4 mb-3 ">

                        <input #nombre="ngModel" minlength="3" pattern="^[A-Za-z\s]+$" required name="nombre" ngModel type="text" class="form-control " placeholder="Ingrese su Nombre">
                        <div mat-error *ngIf="nombre.errors?.required">
                            <label class="font-color">* requerido</label>
                        </div>
                        <div *ngIf="nombre.errors?.minlength">
                            <label class="font-color">Ingrese mínimo {{nombre.errors.minlength.requiredLength}} caracteres</label>

                        </div>
                        <div *ngIf="nombre.errors?.pattern">
                            <label class="font-color">Ingrese solo letras</label>

                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">

                        <input #telefono="ngModel" minlength="9" maxlength="9" pattern="^\d*$" required name="telefono" ngModel type="text" class="form-control " placeholder="Ingrese Teléfono">
                        <div *ngIf="telefono.errors?.required">
                            <label class="font-color">* requerido</label>
                        </div>
                        <div *ngIf="telefono.errors?.minlength">
                            <label class="font-color">* Ingrese teléfono válido</label>
                        </div>

                        <div *ngIf="telefono.errors?.pattern">
                            <label class="font-color">Ingrese solo números</label>

                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-3 col-md-4">

                        <select class="form-control" [formControl]="servicioFormControl">
                    <option value="">Seleccionar Zona Depilación</option>
                    <option value="AXILAS">Axilas</option>
                    <option value="BOZO">Bozo</option>
                    <option value="FRENTE">Frente</option>
                  <option value="CEJAS">Cejas</option>
                    <option value="NARIZ">Nariz</option>
                  <option value="PATILLAS">Patillas</option>
                    <option value="MENTON">Mentón</option>
                    <option value="BOTOX">Medio Brazo</option>
                    <option value="BRAZO COMPLETO">Brazo Completo</option>
                    <option value="MEDIA PIERNA">Media Pierna </option>
                    <option value="PIERNA COMPLETA">Pierna Completa</option>
                    <option value="ESPALDA">Espalda</option>
                    <option value="ABDOMEN">Abdomen</option>
                    <option value="GLÚTEOS">Glúteos</option>
                    <option value="CARA">Cara</option>
                    <option value="REBAJE CORTO">Rebaje Corto</option>
                    <option value="REBAJE LARGO">Rebaje Largo</option>
                    <option value="REBAJE COMPLETO">Rebaje Completo</option>

                  </select>
                        <div>
                            <div class="font-color" *ngIf="servicioFormControl.hasError('required')">Por favor, Selecciona una Zona</div>
                        </div>
                    </div>
                </div>


                <button (click)="register(forma)" (click)="verMensaje(mensajeLLamado)" [disabled]="!forma.valid " type="button " class="btn btn-color ">Solicitar llamado</button>



            </form>
        </div>



    </div>
</div>
<ng-template #mensajeLLamado let-modal="dismiss ">
    <div class="text-sm-center p-center ">
        <img class="img-w " src="assets/img/iconos/comprobado.png "><br><br><br>
        <span class="modal-dialog font-color ">Un Profesional de <b>ALEJANDRAS</b> se pondrá en <br>contacto contigo dentro de poco</span><br><br><br>
        <button [routerLink]="[ '/home'] " class="btn btn-color " (click)="modal( 'Close') ">Salir</button>
    </div>


</ng-template>
