<div class="container">

    <div class="row">
        <div class="col-md-4">
            <img [src]="galeria.img" [alt]="galeria.nombre" class="img-fluid">
            <br><br>
            <button [routerLink]="['/galeria']" class="btn  btn-block btn-color">Regresar a Galería</button>
        </div>
        <div class="col-md-8">
            <h3 class="font-color">{{galeria.nombre}}</h3>
            <hr class="bg-color">
            <p class="font-color">{{galeria.descripcion}}</p>
            <hr class="bg-color">
            <form>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="font-color" for="validationServer01">Nombre</label>
                        <input type="text" class="form-control " id="validationServer01" placeholder="Ingrese su Nombre" value="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="font-color" for="validationServer02">Apellido</label>
                        <input type="text" class="form-control " id="validationServer02" placeholder="Ingrese su Apellido" value="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label class="font-color" for="validationServer05">Número de teléfono</label>
                        <input type="text" class="form-control " id="validationServer05" placeholder="Ingrese Teléfono">
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                </div>

                <button type="button" (click)="verMensaje(mensajeLLamado)" class="btn  btn-color">Solicitar llamado</button>

            </form>
        </div>

    </div>
</div>
<ng-template #mensajeLLamado let-modal="dismiss">
    <div class="text-sm-center p-center">
        <img class="img-w" src="assets/img/comprobado.png"><br><br><br>
        <span class="modal-dialog font-color">Un Profesional de <b>ALEJANDRAS</b> se pondrá en <br>contacto contigo dentro de poco</span><br><br><br>
        <button [routerLink]="['/home']" class="btn  btn-color" (click)="modal('Close')">Salir</button>
    </div>


</ng-template>