<div class="container-lg">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a [routerLink]="['/promociones']">
                    <img src="assets/img/slider/Promo1.png" class="img-w-h" alt="...">
                </a>


            </div>
            <div class="carousel-item">
                <a [routerLink]="['/promociones']">
                    <img src="assets/img/slider/Promo2.png" class="img-w-h" alt="...">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<hr>
<div style="text-align: center;background-color:#701A7F;" class="alert alert-primary container" role="alert">
    <h1 style="color: white;" class="alert-heading">SERVICIOS DESTACADOS</h1>

</div>
<div class="container">
    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let galeria of galeriasDestacado; let i = index ">
            <img [src]="galeria.img" class="card-img-top img-manicure" [alt]="galeria.nombre">
            <div class="card-body">
                <h2 class="card-title font-color">{{galeria.nombre}}</h2>
                <p class="card-text font-color">{{galeria.descripcion}}</p>
                <button (click)="verDestacado(i)" type="button" class="btn  btn-block btn-color">¡ Lo Quiero.. !</button>
            </div>
        </div>
    </div>
</div>
